.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  // margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: $primary-text-color;

  &__text {
    color: $accent-color;
  }
}
