a {
  color: $primary-text-color;
  cursor: pointer;
}

.site-nav__link#studia::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  bottom: 0%;
  left: 0%;
}

.site-nav__link#portfolio::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  bottom: 0%;
  left: 0%;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }
}

.site-nav__items {
  display: flex;
  margin-right: 305px;
}

.site-nav__item:not(:last-child) {
  margin-right: 30px;
}

.site-nav__link#studia {
  position: relative;
}

.site-nav__link#studia::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0%;
  left: 0%;
}

.site-nav__link#portfolio {
  position: relative;
}

.site-nav__link#portfolio::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0%;
  left: 0%;
}
